<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8"/>
  <title>Demo Spring MVC</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<nav th:replace="~{app_nav :: nav}"></nav>

<br><br><br><br><br><br><br>
<!-- Create HTML registration form -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <!-- success message -->
      <div th:if="${param.success}">
        <div class="alert alert-info">Rejestracja ukończona pomyślnie </div>
      </div>

      <div th:if="${param.email_invalid}">
        <div class="alert alert-danger">
          Ten adres email został już zarejestrowany!</div>
      </div>

      <h1>Rejestracja</h1>

      <form th:action="@{/registration}" method="post"
            th:object="${user}">
        <div class="form-group">
          <label class="control-label" for="name">
            Imię </label>
          <input id="name" class="form-control"
                 th:field="*{name}" required
                 autofocus="autofocus" />
          <div class="text-danger" th:if="${#fields.hasErrors('name')}"
               th:errors="*{name}">Name Error</div>
        </div>

        <div class="form-group">
          <label class="control-label" for="phoneNumber">
            Numer telefonu </label> <input id="phoneNumber"
                                      class="form-control" th:field="*{phoneNumber}"
                                      required autofocus="autofocus" />
          <div class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}"
               th:errors="*{phoneNumber}">PhoneNumber Error</div>
        </div>

        <div class="form-group">
          <label class="control-label" for="email">Email</label>
          <input id="email" class="form-control"
                 th:field="*{email}"
                 type="email"
                 required
                 autofocus="autofocus"
                 placeholder="Enter a valid email" />
          <div class="text-danger" th:if="${#fields.hasErrors('email')}"
               th:errors="*{email}">Email Error</div>
        </div>

        <div class="form-group">
          <label class="control-label" for="password">
            Hasło </label> <input id="password"
                                     class="form-control" type="password"
                                     th:field="*{password}" required
                                     autofocus="autofocus" />
          <div class="text-danger" th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}">Password Error</div>
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            Rejestracja</button>
          <span>Już zarejestrowany? <a href="/"
                                       th:href="@{/login}">Zaloguj się tutaj</a></span>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
<input type="hidden" th:name="${_csrf.parameterName}"
       th:value="${_csrf.token}" />
</html>